<p id="notice"><%= notice %></p>

<h1>Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Division</th>
      <th>Dept</th>
      <th>Department alias</th>
      <th>Service area</th>
      <th>Service area alias</th>
      <th>Fund</th>
      <th>Fund and desc</th>
      <th>Org</th>
      <th>Org and desc</th>
      <th>Project</th>
      <th>Project and desc</th>
      <th>Prog</th>
      <th>Prog and desc</th>
      <th>Account type</th>
      <th>Rev or exp</th>
      <th>Acct and desc</th>
      <th>Category</th>
      <th>Acct</th>
      <th>FY18-19 Midcycle Adopted Total</th>
      <th>FY19-20 Total</th>
      <th>FY20-21 Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.department %></td>
        <td><%= line_item.division %></td>
        <td><%= line_item.dept %></td>
        <td><%= line_item.department_alias %></td>
        <td><%= line_item.service_area %></td>
        <td><%= line_item.service_area_alias %></td>
        <td><%= line_item.fund %></td>
        <td><%= line_item.fund_and_desc %></td>
        <td><%= line_item.org %></td>
        <td><%= line_item.org_and_desc %></td>
        <td><%= line_item.project %></td>
        <td><%= line_item.project_and_desc %></td>
        <td><%= line_item.prog %></td>
        <td><%= line_item.prog_and_desc %></td>
        <td><%= line_item.account_type %></td>
        <td><%= line_item.rev_or_exp %></td>
        <td><%= line_item.acct_and_desc %></td>
        <td><%= line_item.category %></td>
        <td><%= line_item.acct %></td>
        <td><%= line_item.fy18_19_midcycle_adopted_total %></td>
        <td><%= line_item.fy19_20_biennial_working_total %></td>
        <td><%= line_item.fy20_21_biennial_working_total%>
        <td><%= link_to 'Show', line_item %></td>
        <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line Item', new_line_item_path %>
