<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @line_item.department %>
</p>

<p>
  <strong>Division:</strong>
  <%= @line_item.division %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @line_item.dept %>
</p>

<p>
  <strong>Department alias:</strong>
  <%= @line_item.department_alias %>
</p>

<p>
  <strong>Service area:</strong>
  <%= @line_item.service_area %>
</p>

<p>
  <strong>Service area alias:</strong>
  <%= @line_item.service_area_alias %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @line_item.fund %>
</p>

<p>
  <strong>Fund and desc:</strong>
  <%= @line_item.fund_and_desc %>
</p>

<p>
  <strong>Org:</strong>
  <%= @line_item.org %>
</p>

<p>
  <strong>Org and desc:</strong>
  <%= @line_item.org_and_desc %>
</p>

<p>
  <strong>Project:</strong>
  <%= @line_item.project %>
</p>

<p>
  <strong>Project and desc:</strong>
  <%= @line_item.project_and_desc %>
</p>

<p>
  <strong>Prog:</strong>
  <%= @line_item.prog %>
</p>

<p>
  <strong>Prog and desc:</strong>
  <%= @line_item.prog_and_desc %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @line_item.account_type %>
</p>

<p>
  <strong>Rev or exp:</strong>
  <%= @line_item.rev_or_exp %>
</p>

<p>
  <strong>Acct and desc:</strong>
  <%= @line_item.acct_and_desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @line_item.category %>
</p>

<p>
  <strong>Acct:</strong>
  <%= @line_item.acct %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
